html {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000088;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  background: #001220;
}

section {
  height: 100vh;
}

section > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 30vh;
}

section > div > h1 {
  font-size: 3rem;
  text-align: center;
}

section > div > sup {
  margin-top: -55px;
  font-size: 0.5rem;
}

.wave {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: -50px;
  width: 120vw;
}
